<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
     <a mat-list-item routerLink="/list">
      <mat-icon>list_alt</mat-icon>View Contacts
    </a>
    <a mat-list-item routerLink="/about">
      <mat-icon>settings_voice</mat-icon>User Stories
    </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>

      <span class="brand" routerLink="/">Phonebook</span>
      <span class="menu-space"></span>
      <a routerLink="/list">
        <mat-icon>list_alt</mat-icon>View Contacts
      </a>
      <a routerLink="/about">
       <mat-icon>settings_voice</mat-icon>User Stories
      </a>
    </mat-toolbar>
    <ng-content></ng-content>
    <!-- Add Content Here -->
  </mat-sidenav-content>
</mat-sidenav-container>
