/* colors */

$primary-color:     #0033A1;
$secondary-color:   #28a745;
$tertiary-color:    #0089FF;
$white:             #fff;
$warning:           #f00;
$black:             #000;
$td-border:         #ddd;

/*Typography */


/* Buttons */
.action-btn {
  background: $secondary-color;
  color: $white;
}

